{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <body class="text-center">
    <ul style="list-style-type: none;">
    {% for key, info in results %}
        <li>{{ key }} evaluation is {{ info }}</li>
    {% endfor %}
    </ul>
    </body>
{% endblock %}